/* left.css */
.left {
  width : 20%;
  height : 800px;
  /* border: 1px solid red; */
  margin-right: 50px;
  border-radius: 20px;
  background: linear-gradient( to bottom, rgb(64, 62, 62) 1%, white 99%);

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color:whitesmoke;
  font-weight: 100;
}
.cover-image {
  width:100%;
  height:350px;
  position: relative;
  border-radius: 4px;
}


.image{
  width: 10%;
  height: 40px;
}

.hour{
  text-align: left;
}

h2{
  font-size: smaller;
  color: rgb(216, 224, 230);
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;

}

.image1{
  width:50px;
  height: 50px;
  border-radius: 4px;

}

.list{
  position: relative;
  width: 100%;
  height:400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
 
}

.block{
  width: 150px;
  height:50px;
  position: absolute;
  margin-left: 3%;
}

.sen{
  display: flex;
  margin-top: 10px;
  width: 200px;
}

.label{ 
  margin-left: 10px;
  margin-top: 1px;
  font-weight: 550;
}

.album{
  color: rgb(220, 70, 70)
}

